* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

html {
    align-items: center;
    font-size: 10px;
    font-family: monospace;
}

@media (max-width: 767px) {
    /* Estilos para teléfonos */
    .pantalla {
        background-color: blue;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1 fr);
    }

    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1 fr);
    }
  }


  @media screen and (min-width: 1920px) { 
    body {
      background-color: rgb(197, 142, 70); 
  
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}