.header {
    text-align: center;
    align-items: center;
    display: flex;
    height: 100px;
    border: 1px solid rgb(191, 191, 221);
    background-color: rgb(110, 110, 192);
}

.guia{
    background-color: rgb(158, 158, 238);
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}